<form>
  <div class="form-group">
    <label>Nombre</label>
    <input type="text" class="form-control" ng-model="nombre">
  </div>

  <div class="form-group">
    <label>Descripcion</label>
    <input type="text" class="form-control" ng-model="descripcion">
  </div>
  
    <div class="form-group">
    <label>Precio</label>
    <input type="text" class="form-control" ng-model="precio">
  </div>
  

<center>
<button type="button" class="btn btn-info" ng-click="agregar()">Agregar nuevo</button>
<button type="button" class="btn btn-default"><a href="#/">Cancelar</a></button>
</center>
</form>