<form>
  <div class="form-group">
    <label>Nombre</label>
    <input type="text" class="form-control" ng-model="nombre">
  </div>

  <div class="form-group">
    <label>Apellido paterno</label>
    <input type="text" class="form-control" ng-model="apellido_paterno">
  </div>
  
    <div class="form-group">
    <label>Apellido materno</label>
    <input type="text" class="form-control" ng-model="apellido_materno">
  </div>
  

  <div class="form-group">
    <label>Telefono</label>
    <input type="text" class="form-control" ng-model="telefono">
  </div>

<center>
<button type="button" class="btn btn-info" ng-click="agregar()">Agregar nuevo</button>
<button type="button" class="btn btn-default"><a href="#/">Cancelar</a></button>
</center>
</form>