<section class="panel">
    <header class="panel-heading wht-bg">
       <h4 class="gen-case">Eliminados ({{pedidos.length}})
        <form action="#/" class="pull-right mail-src-position">
            <div class="input-append">
                <input type="text" class="form-control " placeholder="Buscar" ng-model="query">
            </div>
        </form>
       </h4>
    </header>
    <div class="panel-body minimal">
        <div class="mail-option">
            <div class="chk-all">
                <div class="pull-left mail-checkbox ">
                    <input type="checkbox" class="">
                </div>

                <div class="btn-group">
                    <a data-toggle="dropdown" href="#/" class="btn mini all">
                        All
                        <i class="fa fa-angle-down "></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#/"> None</a></li>
                        <li><a href="#/"> Read</a></li>
                        <li><a href="#/"> Unread</a></li>
                    </ul>
                </div>
            </div>

            <div class="btn-group">
                <a data-original-title="Refresh" data-placement="top" data-toggle="dropdown" href="#/" class="btn mini tooltips">
                    <i class=" fa fa-refresh"></i>
                </a>
            </div>
            <div class="btn-group hidden-phone">
                <a data-toggle="dropdown" href="#/" class="btn mini blue">
                    More
                    <i class="fa fa-angle-down "></i>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#/"><i class="fa fa-pencil"></i> Mark as Read</a></li>
                    <li><a href="#/"><i class="fa fa-ban"></i> Spam</a></li>
                    <li class="divider"></li>
                    <li><a href="#/"><i class="fa fa-trash-o"></i> Delete</a></li>
                </ul>
            </div>
            <div class="btn-group">
                <a data-toggle="dropdown" href="#/" class="btn mini blue">
                    Move to
                    <i class="fa fa-angle-down "></i>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#/"><i class="fa fa-pencil"></i> Mark as Read</a></li>
                    <li><a href="#/"><i class="fa fa-ban"></i> Spam</a></li>
                    <li class="divider"></li>
                    <li><a href="#/"><i class="fa fa-trash-o"></i> Delete</a></li>
                </ul>
            </div>

            <ul class="unstyled inbox-pagination">
                <li><span>1-50 of 124</span></li>
                <li>
                    <a class="np-btn" href="#/"><i class="fa fa-angle-left  pagination-left"></i></a>
                </li>
                <li>
                    <a class="np-btn" href="#/"><i class="fa fa-angle-right pagination-right"></i></a>
                </li>
            </ul>
        </div>
        <div class="table-inbox-wrap ">
            <table class="table table-inbox table-hover">
        <tbody>
        <tr ng-class="{unread: pedido.visto == 0}" ng-repeat="pedido in pedidos  | filter:query" on-last-repeat>
            <td class="inbox-small-cells">
                <input type="checkbox" class="mail-checkbox">
            </td>
            <td class="inbox-small-cells"><i class="fa fa-star " ng-class="{contestado: pedido.importante == 1}" ng-click="cambiar(pedido.id)"></i></td>
            <td class="view-message dont-show"><a ng-href="#/vista/{{pedido.id}}" ng-click="abrir(pedido.id)">{{pedido.nombre}}</a></td>
            <td class="view-message"><a ng-href="#/vista/{{pedido.id}}" ng-click="abrir(pedido.id)">{{pedido.direccion}}</a></td>
            <td class="view-message inbox-small-cells"></td>
            <td class="view-message text-right">{{pedido.fecha}}</td>
        </tr>
        </tbody>
        </table>

        </div>
    </div>
</section>