<section class="panel">
    <header class="panel-heading wht-bg">
       <h4 class="gen-case">Importantes ({{pedidos.length}})
        <form action="#/" class="pull-right mail-src-position">
            <div class="input-append">
                <input type="text" class="form-control " placeholder="Buscar" ng-model=" buscado.caracteristica">
            </div>
        </form>
       </h4>
    </header>
    <div class="panel-body minimal">
        <div class="mail-option">
            <div class="btn-group hidden-phone">
                <a data-toggle="dropdown" href="" class="btn mini blue">
                    Mas
                    <i class="fa fa-angle-down "></i>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#/importantes" ng-click="marcarLeido()"><i class="fa fa-pencil"></i> Marcar como reido</a></li>
                    <li><a href="#/importantes" ng-click="eliminar()"><i class="fa fa-trash-o"></i> Eliminar</a></li>
                </ul>
            </div>

            <div class="btn-group">
                <a data-original-title="Refresh" ng-click="recargar()" data-placement="top" data-toggle="dropdown" href="#/importantes" class="btn mini tooltips">
                    <i class=" fa fa-refresh"></i>
                </a>
            </div>


            <ul class="unstyled inbox-pagination" ng-show="pedidos.length">
                <li><span>pagina {{curPage + 1}} de {{ numberOfPages() }}</span></li>
                <li >
                    <a class="np-btn" href="" ng-disabled="curPage == 0" ng-click="curPage=curPage-1" ng-class="{bloquear: curPage == 0}"><i class="fa fa-angle-left  pagination-left"></i></a>
                </li>
                <li >
                    <a class="np-btn" href="" ng-disabled="curPage >= pedidos.length/pageSize - 1" ng-click="curPage = curPage+1" ng-class="{bloquear: curPage >= pedidos.length/pageSize - 1}"><i class="fa fa-angle-right pagination-right"></i></a>
                </li>
            </ul>
        </div>
        <div class="table-inbox-wrap ">
            <table class="table table-inbox table-hover">
        <tbody>
        <tr ng-class="{unread: pedido.visto == 0}" ng-repeat="pedido in pedidos  | filter: buscado.caracteristica | pagination: curPage * pageSize | limitTo: pageSize ">
            <td class="inbox-small-cells">
                <input icheck type="checkbox" class="mail-checkbox"  ng-model="pedido.seleccionado" ng-checked="master">
            </td>
            <td class="inbox-small-cells"><i class="fa fa-star " ng-class="{contestado: pedido.importante == 1}" ng-click="cambiar(pedido.id)"></i></td>
            <td class="view-message dont-show"><a ng-href="#/vista/{{pedido.id}}" ng-click="abrir(pedido.id)">{{pedido.nombre}}</a></td>
            <td class="view-message"><a ng-href="#/vista/{{pedido.id}}" ng-click="abrir(pedido.id)">{{pedido.direccion}}</a></td>
            <td class="view-message inbox-small-cells"></td>
            <td class="view-message text-right">{{fecha(pedido.fecha, pedido.hora)}}</td>
        </tr>
        </tbody>
        </table>

        </div>
    </div>
</section>