.imagedropshadow { 
	padding: 5px; 
	border: solid 15px #EFEFEF; 
} 

div.imagedropshadow { 
	border: solid 1px #CCC; 
	-moz-box-shadow: 1px 1px 5px #999; 
	-webkit-box-shadow: 1px 1px 5px #999; 
	box-shadow: 1px 1px 5px #999; 
}

.bloquear{
       pointer-events: none !important;
       cursor: default;
       color:Gray;
}

ul li {
    list-style:none;
}