<form name="editForm" ng-submit="editar()" novalidate>

  <div class="form-group" ng-class="{ 'has-error': editForm.nombre.$touched && editForm.nombre.$invalid }">
    <label>Nombre</label>
    <input type="text" 
    class="form-control" 
    name="nombre"
    ng-model="nombre"
    ng-maxlength="35" 
    required>
    <div class="help-block" ng-messages="editForm.nombre.$error" ng-if="editForm.nombre.$touched">
      <p ng-message="maxlength">El nombre es muy largo.</p>
      <p ng-message="required">El nombre es requerido.</p>
    </div>
  </div>

  <div class="form-group" ng-class="{ 'has-error': editForm.descripcion.$touched && editForm.descripcion.$invalid }">
    <label>Descripcion</label>
    <input type="text" 
    class="form-control" 
    name="descripcion"
    ng-model="descripcion"
    ng-maxlength="140" 
    required>
    <div class="help-block" ng-messages="editForm.descripcion.$error" ng-if="editForm.descripcion.$touched">
      <p ng-message="maxlength">La descripcion es muy larga.</p>
      <p ng-message="required">El descripcion es requerida.</p>
    </div>
  </div>
  
   <div class="form-group" ng-class="{ 'has-error': editForm.precio.$touched && editForm.precio.$invalid }">
    <label>Precio</label>
    <input type="number" 
    class="form-control" 
    name="precio"
    ng-model="precio" 
    ng-maxlength="8"
    required>

    <div class="help-block" ng-messages="editForm.precio.$error" ng-if="editForm.precio.$touched">
      <p ng-message="maxlength">El campo precio es muy largo.</p>
      <p ng-message="required">El campo precio es requerido.</p>
      <p ng-message="number">El campo precio no es valido.</p>
    </div>
  </div>
  

  <div class="form-group" ng-class="{ 'has-error': editForm.ingredientes.$touched && editForm.ingredientes.$invalid }">
    <label>Ingredientes</label>
    <input type="text" 
    class="form-control" 
    name="ingredientes"
    ng-model="ingredientes"
    ng-maxlength="130" 
    required>
    <div class="help-block" ng-messages="editForm.ingredientes.$error" ng-if="editForm.ingredientes.$touched">
      <p ng-message="maxlength">El campo ingredientes es muy largo.</p>
      <p ng-message="required">El campo ingredientes es requerido.</p>
    </div>
  </div>


<center>
<button type="submit" class="btn btn-info" ng-disabled="editForm.$invalid">Actualizar</button>
<button type="button" class="btn btn-default"><a href="#/">Cancelar</a></button>
<button type="button" class="btn btn-danger" ng-click="eliminar()">Eliminar</button>
</center>
</form>