<form name="nuevoForm" ng-submit="agregar()" novalidate>

  <div class="form-group" ng-class="{ 'has-error': nuevoForm.nombre.$touched && nuevoForm.nombre.$invalid }">
    <label>Nombre</label>
    <input type="text" 
    class="form-control" 
    name="nombre"
    ng-model="nombre"
    ng-maxlength="35" 
    required>
    <div class="help-block" ng-messages="nuevoForm.nombre.$error" ng-if="nuevoForm.nombre.$touched">
      <p ng-message="maxlength">El nombre es muy largo.</p>
      <p ng-message="required">El nombre es requerido.</p>
    </div>
  </div>

  <div class="form-group" ng-class="{ 'has-error': nuevoForm.descripcion.$touched && nuevoForm.descripcion.$invalid }">
    <label>Descripcion</label>
    <input type="text" 
    class="form-control" 
    name="descripcion"
    ng-model="descripcion"
    ng-maxlength="140" 
    required>
    <div class="help-block" ng-messages="nuevoForm.descripcion.$error" ng-if="nuevoForm.descripcion.$touched">
      <p ng-message="maxlength">La descripcion es muy larga.</p>
      <p ng-message="required">El descripcion es requerida.</p>
    </div>
  </div>
  
   <div class="form-group" ng-class="{ 'has-error': nuevoForm.precio.$touched && nuevoForm.precio.$invalid }">
    <label>Precio</label>
    <input type="number" 
    class="form-control" 
    name="precio"
    ng-model="precio" 
    ng-maxlength="8"
    required>

    <div class="help-block" ng-messages="nuevoForm.precio.$error" ng-if="nuevoForm.precio.$touched">
      <p ng-message="maxlength">El campo precio es muy largo.</p>
      <p ng-message="required">El campo precio es requerido.</p>
      <p ng-message="number">El campo precio no es valido.</p>
    </div>
  </div>
  

  <div class="form-group" ng-class="{ 'has-error': nuevoForm.ingredientes.$touched && nuevoForm.ingredientes.$invalid }">
    <label>Ingredientes</label>
    <input type="text" 
    class="form-control" 
    name="ingredientes"
    ng-model="ingredientes"
    ng-maxlength="130" 
    required>
    <div class="help-block" ng-messages="nuevoForm.ingredientes.$error" ng-if="nuevoForm.ingredientes.$touched">
      <p ng-message="maxlength">El campo ingredientes es muy largo.</p>
      <p ng-message="required">El campo ingredientes es requerido.</p>
    </div>
  </div>

  <br>
  <button type="button" class="btn btn-info btn-block" data-toggle="modal" data-target="#myModal"><i class="fa fa-picture-o fa"></i> Escoger imagen</button>
  <br>

   <!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Selecciona una imagen</h4>
      </div>
      <div class="modal-body">
        <select class="image-picker" ng-model="imagen_url" name="imagenes" required>
            <option data-img-src="../../../assets/images/img-modal/arroz.png" value="arroz.png">     </option>
            <option data-img-src="../../../assets/images/img-modal/asada.png" value="asada.png">     </option>
            <option data-img-src="../../../assets/images/img-modal/brocheta.png" value="brocheta.png">      </option>
            <option data-img-src="../../../assets/images/img-modal/burrito.png" value="burrito.png">     </option>
            <option data-img-src="../../../assets/images/img-modal/coctel.png" value="coctel.png">     </option>
            <option data-img-src="../../../assets/images/img-modal/comidaChina.png" value="comidaChina.png">     </option>
            <option data-img-src="../../../assets/images/img-modal/dona.png" value="dona.png">     </option>
            <option data-img-src="../../../assets/images/img-modal/hamburguesa.png" value="hamburguesa.png">     </option>
            <option data-img-src="../../../assets/images/img-modal/hotdog.png" value="hotdog.png">     </option>
            <option data-img-src="../../../assets/images/img-modal/huevos.png" value="huevos.png">     </option>
            <option data-img-src="../../../assets/images/img-modal/palomitas.png" value="palomitas.png">     </option>
            <option data-img-src="../../../assets/images/img-modal/papasFritas.png" value="papasFritas.png">     </option>
            <option data-img-src="../../../assets/images/img-modal/pastel.png" value="pastel.png">     </option>
            <option data-img-src="../../../assets/images/img-modal/pastelillo.png" value="pastelillo.png">     </option>
            <option data-img-src="../../../assets/images/img-modal/pescado.png" value="pescado.png">     </option>
            <option data-img-src="../../../assets/images/img-modal/pizza.png" value="pizza.png">     </option>
            <option data-img-src="../../../assets/images/img-modal/queso.png" value="queso.png">     </option>
            <option data-img-src="../../../assets/images/img-modal/salchicha.png" value="salchicha.png">     </option>
            <option data-img-src="../../../assets/images/img-modal/sandwich.png" value="sandwich.png">     </option>
            <option data-img-src="../../../assets/images/img-modal/sushi.png" value="sushi.png">     </option>
            <option data-img-src="../../../assets/images/img-modal/taco.png" value="taco.png">     </option>
            <option data-img-src="../../../assets/images/img-modal/wafle.png" value="wafle.png">     </option>
          </select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" ng-disabled="!imagen_url">Elegir</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
   // Initialize the object
  $("select").imagepicker();
  // Retrieve the picker
  // Initialize the picker once
    $("select").imagepicker();
</script>

<center>
<button type="submit" class="btn btn-info" ng-disabled="nuevoForm.$invalid">Agregar nuevo</button>
<button type="button" class="btn btn-default"><a href="#/">Cancelar</a></button>
</center>
</form>